h1 {
	background: url(http://www.familylobby.com/common/tt11147071fltt.gif) center no-repeat, 
	url(http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/estrelacolor.gif)  repeat ; 
  	font-size:6em;
  	text-align:center;
  	text-indent: -9999px; 
}

h1,h2,h3,h4,h5 {
 	text-decoration:underline; 
 	font-family:Verdana;
}


body {
	background-image:url(https://media.giphy.com/media/ELk3JbUHFexpK/giphy.gif);
	background-repeat: repeat;	
  	font-size:160%;
}

img {
    width:20%;
    height:20%;
}

.Main {
  	width:75%;
}

.Boxes {
	background-image: url(http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/ezgtilefinished.gif); 
	border-image-slice: 27 33 27 27; 
	border-image-width: 20px 20px 20px 20px; 
	border-image-outset: 0px 0px 0px 0px; 
	border-image-repeat: round round; 
	border-image-source: url(http://i361.photobucket.com/albums/oo54/crackysparkles/sparkles/sparkly.gif);
	padding: 2em 2em 2em 2em;
  	text-decoration:bold;
  	margin-bottom:1em;
}
