body {
  	font-size:120%;  
  	background-color: LightBlue ;
    padding-left:4%;
  	padding-right:4%;

}

img {
    width:20%;
    height:20%;
}

h1 {
	font-family: 'Berkshire Swash', Helvetica, sans-serif;
	font-size: 5em;
	color: #2b2b2b;
	text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
	border-radius: 0.2em;
  	text-align:center;
  	background-color:white;
  	border: 0.1em #2b2b2b solid;
}


h2 {
    	font-family: 'Berkshire Swash', Helvetica, sans-serif;
    	font-size: 2em;
    	color: #2b2b2b;
    	text-decoration:underline;
}

b, h4 {
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    font-size: 1em;
    color: #2b2b2b;
    text-decoration:underline;
}

.Boxes {
 	border-radius: 1em;
 	border: 0.4em #2b2b2b solid;
 	background:OldLace; 	
 	margin-bottom:1em;
 	margin-left: 1em;
 	padding: 3% 3% 3% 3%;
}

.Main {
	margin-right: 3em;
}

#Contact {
	background: PeachPuff;
}
